<html>

<head>
</head>

<body>
    <h1> query result </h1>
    <div>
        <ul>
            <li>average temperature : <%= avg_temperature %> </li>
            <li>average humidity : <%= avg_humidity %> </li>
            <li>records found : <%= records %> </li>
            <li>start time : <%= start_time %> </li>
            <li>end time : <%= end_time %> </li>
       </ul>
    </div>
</body>

</html>
